<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nolan | Chat - API</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <header>okk</header>

    <div class="container">
        <aside>
          <h2>Users</h2>
          <div class="search-container">
  <input type="text" placeholder="tìm kiếm">
</div>
          <ul>
            <!-- list of users goes here -->
          </ul>
          <button onclick="nolan_dell(5)">delete chat</button>
        </aside>
        <main>
          <div class="conversation-container">
            <!-- your messages go here -->

          </div>
          <form>
            <input type="text" id="mess-input" placeholder="chatttttttttttt">
            <button type="submit">gửi</button>
          </form>
        </main>
      </div>
      
      
      

</body>
<script src="../js/main.js"></script>
</html>